<main class="container">
    <br>
    <section class="row">
        <div class="col-md-1"></div>
        <article class="col-md-2">
            <button class="btn" (click)="onDir($event)">Dirección</button>
        </article>
        <div class="col-md-1"></div>
        <article class="col-md-2">
            <button class="btn" (click)="onContact($event)">Contacto</button>
        </article>
        <div class="col-md-1"></div>
        <article class="col-md-2">
            <button class="btn" (click)="onConyuge($event)">Conyuge</button>
        </article>
    </section>
</main>
