<header class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="../assets/images/espeLog.png" alt="{{title}}">
    </div>
    <nav class="col-md-8">
      <br>
      <ul class="nav nav-tabs justify-content-end align-bottom">
        <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active">Inicio</a></li>
        <li class="nav-item"><a routerLink="/queries" class="nav-link" routerLinkActive="active">Consultas</a></li>
        <li class="nav-item"><a routerLink="/reg" class="nav-link" routerLinkActive="active">Registrar</a></li>
        <!--li class="nav-item" *ngIf="islogin"><a routerLink='/login' class="nav-link" routerLinkActive="active">log-in</a></!--li>
        <li class="nav-item" *ngIf="!islogin"><a routerLink='/logout' class="nav-link" routerLinkActive="active">log-out</a></li-->
      </ul>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="container-lg fo" *ngIf='env'>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <span><strong>Autores:</strong></span>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group list-group-horizontal-sm">
        <li class="list-group-item" *ngFor="let item of autores; index as i;">
          {{item.name}}
          <br>
          <strong>git:&nbsp;</strong><a href={{item.url}} routerLinkActive="active" target="_blank">{{item.git}}</a>
        </li>
      </ul>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <strong>git repository:&nbsp;</strong>
      <a href="https://github.com/julyoc/usabilidad" routerLinkActive="active" target="_blank">
        https://github.com/julyoc/usabilidad.git
      </a>
    </div>
  </div>
</footer>