<header class="container">
  <div class="row">
    <div class="col-md-5">
      <h2>
        {{title}}
      </h2>
    </div>
    <nav class="col-md-7">
      <ul class="nav justify-content-end">
        <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active">Inicio</a></li>
      </ul>
    </nav>
  </div>
</header>

<nav class="container">
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="container-lg fo">
  <hr>
  <div class="row">
    <div class="col-md-12">
      <span><strong>Autores:</strong></span>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group list-group-horizontal-sm">
        <li class="list-group-item" *ngFor="let item of autores; index as i;">
          {{item.name}}
          <br>
          <strong>git:&nbsp;</strong><a href={{item.url}} routerLinkActive="active" target="_blank">{{item.git}}</a>
        </li>
      </ul>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <strong>git repository:&nbsp;</strong>
      <a href="https://github.com/julyoc/usabilidad" routerLinkActive="active" target="_blank">
        https://github.com/julyoc/usabilidad.git
      </a>
    </div>
  </div>
</footer>