<main class="container">
    <div style="height: 10em;"></div>
    <section class="row">
        <div class="col-md-2"></div>
        <article class="col-md-8" style="text-align: center;">
            <h2>REGISTRO DE INGRESO DE PERSONAL <br> ESPE</h2>
        </article>
        <div class="col-md-2"></div>
    </section>
    <div style="height: 5em;"></div>
    <section class="row">
        <div class="col-md-1"></div>
        <article class="col-md-10" style="text-align: center;">
            <p>
                UNIVERSIDAD DE LAS FUERZAS ARMADAS  ESPE   EXTENCION LATACUNGA
                <br>
                PROYECTO FINAL DE USABILIDAD
                <br>
                CUARTO SEMESTRE INGENIERIA DE SOFTWARE
            </p>
        </article>
        <div class="col-md-1"></div>
    </section>
    <app-account></app-account>
</main>